.profile__main-info{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

    @media screen and (max-width: 767px) {
    .profile__main-info{
      flex-direction: column;
      gap: 22.25px;
    }
  }