.profile__add-button{
  width: 150px;
  height: 50px;
  align-self: center;
  background: transparent url("../../../images/profile/add-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  transition: 0.64s;
}

.profile__add-button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__add-button{
    margin-top: 36px;
    width: 282px;
    background-size: 16px;
  }
}